<ion-view >
	<ion-slide-box pager-click="jump(index)"  on-slide-changed="slideHasChanged()" does-continue="false">
		<ion-slide class="dark-bg">
			<img src="img/splash4.jpg" alt="" />
			<button class="button baginButton" ng-click="changePage()">开始体验</button>
		</ion-slide>
		<ion-slide class="royal-bg">
			<img src="img/screen.png"/>
		</ion-slide>
		<ion-slide class="balanced-bg">
			<img src="img/splash1.jpg" alt="" />
		</ion-slide>
		<ion-slide class="positive-bg">
			<img src="img/splash2.jpg" alt="" />
		</ion-slide>
		<ion-slide class="assertive-bg">
			<img src="img/splash3.jpg" alt="" />
		</ion-slide>
		
	</ion-slide-box>
</ion-view>

	<style>
		
	</style>
	