总体框架  选项卡加右边栏
<ion-side-menus>
	<!--目录两边-->
	<ion-side-menu side="right" width="300">
		<ion-content class="own">
			<div class= "list <!--list-borderless--> has-header <!--has-subheader-->" >
	           <div ui-sref="start" class= "item item-icon-left item-icon-right item-avatar">
	            <img src="img/h10.jpg" >
                <h2><b>请登录</b></h2>
                <p>登陆后将会得到更完善的服务</p>
                <i class= "icon ion-ios-arrow-right"></i>
	           </div><br />
	           <div class= "item item-icon-left item-icon-right">
	               <i class= "icon ion-ios-chatbubble-outline calm"></i>
	               <h2>互动交流</h2>
	               <i class= "icon icon ion-ios-arrow-right"></i>
	           </div>
	           <div class= "item item-icon-left item-icon-right">
	               <i class= "icon ion-ios-pulse positive"></i>
	               <h2>自测历史</h2>
	               <i class= "icon icon ion-ios-arrow-right"></i>
	           </div>
	           <div class= "item item-icon-left item-icon-right">
	               <i class= "icon ion-ios-email-outline balanced"></i>
	               <h2>消息</h2>
	               <i class= "icon ion-ios-arrow-right"></i>
	           </div><br />
	           
	           
	           <div ui-sref="tabs.tab1" class= "item item-icon-left item-icon-right">
	               <i class= "icon ion-ios-compose-outline royal"></i>
	               <h2>用户编码</h2>
	               <i class= "icon ion-ios-arrow-right"></i>
	           </div>
	           <div ui-sref="tabs.tab2" class= "item item-icon-left item-icon-right">
	               <i class= "icon ion-android-alert positive"></i>
	               <h2>关于我们</h2>
	               <i class= "icon ion-ios-arrow-right"></i>
	           </div>
	           <div ui-sref="tabs.tab3" class= "item item-icon-left item-icon-right">
	               <i class= "icon ion-ios-compose-outline energized"></i>
	               <h2>我要反馈</h2>
	               <i class= "icon ion-ios-arrow-right"></i>
	           </div>
	           <div ui-sref="tabs.tab4" class= "item item-icon-left item-icon-right">
	               <i class= "icon ion-ios-heart-outline assertive"></i>
	               <h2>为心情温度计打分</h2>
	               <i class= "icon ion-ios-arrow-right"></i>
	           </div>
	       	</div>
</ion-content>
	</ion-side-menu>

	<ion-side-menu-content drag-content="true">
	
	<ion-nav-bar class="bar-positive" >
		<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>
	<ion-tabs class="tabs-positive tabs-striped tabs-icon-top qing">
		<!--1-->
		<ion-tab icon-on="ion-ios-pulse-strong" icon-off="ion-ios-pulse" title="自测" ui-sref="tabs.tab1" nav-direction="forward">
			<ion-nav-view name="tabs-mytab1"></ion-nav-view>
		</ion-tab>
		<!--2-->
		<ion-tab icon-on="ion-ios-heart" icon-off="ion-ios-heart-outline" title="日记" ui-sref="tabs.tab2" nav-direction="forward">
		
			<ion-nav-view name="tabs-mytab2"></ion-nav-view>
		</ion-tab>
		<!--3-->
		<ion-tab icon-on="ion-ios-book" icon-off="ion-ios-book-outline" title="百科" ui-sref="tabs.tab3" nav-direction="forward">
			<ion-nav-view name="tabs-mytab3"></ion-nav-view>
		</ion-tab>
		<!--4-->
		<ion-tab icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" title="交流" ui-sref="tabs.tab4" nav-direction="forward">
			<ion-nav-view name="tabs-mytab4"></ion-nav-view>
		</ion-tab>
		<!--5-->
		<ion-tab icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="tabs.tab5" title="我的" nav-direction="forward">
			<ion-nav-view name="tabs-mytab5"> <!--ng-click="toggle()"--></ion-nav-view>
		</ion-tab>
	</ion-tabs>


	</ion-side-menu-content>

	<!--<ion-side-menu side="right"></ion-side-menu>-->
</ion-side-menus>
