<ion-view  view-title="生活质量问卷">
	<ion-content class="dati">
		<p>自评引导语：</p>
		<p>
			心境障碍问卷（MDQ）————如你曾有≥2周的抑郁感受或曾被诊断为抑郁症，该测试可用来检查你是否曾有躁狂发作（异乎寻常的过度兴奋）行为，有助于医生判断你是否有双相障碍倾向。
		</p><br/><br/>
			我是tab1-content --{{myparam}}
		<p></p>
		<ion-item class="user_u">
			<span>适用人群：曾经有抑郁或目前有抑郁发作（或确诊为“抑郁症”）的人群</span>
			<!--<ion-item class="baginTest" ui-sref="tabs.dati({num:190})">
			点击开始测评
			</ion-item>-->
			<ion-item class="baginTest" ui-sref="tabs.dati({num:190})">
			点击开始测评
			</ion-item>
		</ion>
		
	</ion-content>
</ion-view>